@import 'constants.css';

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--foreground);
}

#content {
    flex: 1 0 auto;
    padding: 2em 3em;
    width: 60em;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    color: var(--main-color);
    margin-bottom: 0.5rem;
}

/* ----------========== NAVBAR ==========---------- */

body>header {
    background-color: var(--background-strong);
}

body>header>nav {
    max-width: 1920px;
    margin: 0 auto;
}

body>header>div {
    background-color: var(--background-strong);
    border-radius: 0 0 60% 60%;
    height: 0.6em;
}

body>header>nav>div>div>img {
    margin-right: 0.5em;
    cursor: pointer;
}

body>header>nav>div>div>i {
    font-size: 1.5em;
    margin-right: 0.5em;
    cursor: pointer;
}

body>header>nav>div>div .badge {
    background-color: var(--main-color);
    color: var(--background-strong);
}

body>header>nav>div>div .dropdown-menu {
    background-color: var(--foreground);
}

body>header>nav>div>div .dropdown-menu>a {
    color: var(--background-strong);
}

body>header>nav>div>div .dropdown-menu>a:hover {
    background-color: var(--background);
    color: var(--foreground);
}


body>header>nav>div>div .dropdown-menu > a > i{
    color: var(--error-color);
}

body>header>nav>div>div .dropdown-menu .dropdown-divider {
    border-top: 1px solid var(--background-strong);
    padding-top: 0.2em;
    width: 80%;
    margin: auto;
}

/* ----------========== Guest Buttons ==========---------- */
#log-buttons a {
    color: var(--main-color);
    font-size: 0.9em;
    font-weight: 500;
}

#log-buttons a:last-child {
    font-weight: 400;
}

#log-buttons a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    #log-buttons :nth-child(2) {
        display: none;
    }
}

/* ----------========== NOTIFICATIONS ==========---------- */

.notification-menu {
    width: 25em;
    max-height: 15em;
    overflow-y: auto;
}

/* ----------========== Alerts ==========---------- */

.alert {
    position:fixed;
    top: 0px;
    z-index:99;
}

/* ----------========== FOOTER ==========---------- */
#footer {
    background-color: var(--background-strong);
}

#footer-content {
    flex-shrink: 0;
    padding: 2em 3em;
    max-width: 1920px;
    margin: 0 auto;
}

#footer-content>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer-content>ul:last-child {
    list-style: none;
    margin-right: 2em;
}

#footer-content>ul>li {
    font-weight: 300;
    font-size: small;
    margin: 0 0 0.2em 0.5em;
}

#footer-content>ul>li>a {
    color: var(--foreground);
}

#footer-content>ul>li:first-child {
    font-weight: 500;
    font-size: medium;
    margin: 0 0 0.7em 0;
}

/* ----------========== BACK TO TOP BUTTON ==========---------- */
#to-top {
    position: fixed;
    bottom: .5em;
    right: 1em;

    display: none;
    cursor: pointer;
    font-size: 2em;
}


/* ----------========== MODALS ==========---------- */

.modal-content {
    background-color: var(--background);
}

.modal-footer {
    border: none;

}

.modal-header {
    padding: 1em 1.5em 0.7em 1.5em;
    border-bottom: 1px solid var(--background-strong);
}

.modal-header .modal-title {
    font-size: 1.3em;
    font-weight: 400;
}

.modal-header .close {
    text-shadow: none;
    color: var(--foreground);
}

.modal-header .close:hover {
    color: var(--main-color);
}

.modal-footer button {
    width: 6em;
    padding: 0.5em 0.5em;
    margin-left: 0.5em;
    border: 0;
    border-radius: 2px;
}

.modal-footer button:focus {
    outline: 0 none;
}

.modal-footer .btn-primary {
    background-color: var(--main-color);
    color: var(--background-strong);
    font-weight: 600;
}

.modal-footer  .btn-secondary {
    background-color: var(--background-strong);
    color: var(--main-color);
    font-weight: 400;
}


/* ----------========== Search Bar ==========---------- */

.expandable-search input,
#collapsed-search input {
    outline: none;
}

.expandable-search input::-webkit-search-decoration,
#collapsed-search input::-webkit-search-decoration {
    display: none;
}

.expandable-search input::-webkit-search-cancel-button,
#collapsed-search input::-webkit-search-cancel-button {
    display: none;
}

#collapsed-search {
    /* hidden behind header */
    z-index: -1;
    width: 100%;
    border-radius: 0 0 40px 40px;
    background-color: var(--background-strong);
    padding-bottom: 0.7em;
    margin: -3.5em auto 0 auto;
}

#collapsed-search.active {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    margin-top: 0;
}

.expandable-search input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: inherit;
    font-size: 90%;
    /* background: var(--foreground) url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center; */
    background: var(--foreground) url("../images/search.svg") no-repeat 2px center;
    border: solid 2px transparent;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    width: 1.8em;
    height: 2em;
    padding-left: 25%;
    color: transparent;
    cursor: pointer;
}

#collapsed-search input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: inherit;
    font-size: 90%;
    background: var(--foreground) url("../images/search.svg") no-repeat 2px center;
    border: solid 2px transparent;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    width: 60%;
    height: 2em;
    padding-left: 2.5em;
    padding-right: 1em;
    color: var(--background-strong);
    cursor: auto;
}

#collapsed-search input:-moz-placeholder {
    color: var(--background-strong);
}

#collapsed-search input::-webkit-input-placeholder {
    color: var(--background-strong);
}

.expandable-search input:-moz-placeholder {
    color: transparent;
}

.expandable-search input::-webkit-input-placeholder {
    color: transparent;
}

/* Screen is > 576px wide */
@media (min-width: 576px) {

    .expandable-search input[type=search]:focus,
    .expandable-search input[type=search]:hover {
        width: 19em;
        padding-left: 2.5em;
        padding-right: 1em;
        color: var(--background-strong);
        background-color: var(--foreground);
        cursor: auto;
    }

    /* .expandable-search input:hover:-moz-placeholder {
        color: var(--background-strong);
        -webkit-transition: all .5s;git 
    -webkit-transition: all .5s;git 
        -webkit-transition: all .5s;git 
        -moz-transition: all .5s;
        transition: all .5s;
    } */

    .expandable-search input:focus::-webkit-input-placeholder,
    .expandable-search input:hover::-webkit-input-placeholder {
        color: var(--background-strong);
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }

    #collapsed-search.active {
        margin-top: -3.5em;
    }
}


/* ----------========== MEDIA QUERIES ==========---------- */

@media (max-width: 991px) {
    #content {
        width: 40em;
    }

    h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 767px) {
    #content {
        width: 35em;
    }
    .notification-menu {
        width: 15em;
    }
}

@media (max-width: 575px) {
    #content {
        width: 95%;
        padding: 1.5em 0.5em;
    }

    .notification-menu {
        width: auto;
    }

    #footer-content {
        padding: 1em;
    }
}