#content form{
    width: 90%;
}

.edite-image {position: relative;}
.edite-image .link {
    position: absolute;
    bottom: 10px; /*your button position*/
    right: 10px; /*your button position*/
}

#btn-2,
#btn-3 {
    width: 10em;
    padding: 0.7em 1.2em;
    margin: auto;
    border: 0;
    border-radius: 2px;
    
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
}

#btn-2{
    background-color: var(--background-strong);
    color: var(--main-color);
}

#btn-3 {
    color: var(--background-strong);
    background-color: var(--main-color);
    font-weight: 600;
}

#btn-2:hover{
    color: var(--accent-color);
    text-decoration: none;
}

#btn-3:hover {
    color: var(--background-strong);
    background-color: var(--accent-color);
    text-decoration: none;
}

#btn-2:focus, 
#btn-3:focus {
    outline: 0 none;
}


.img{
    border: 2px solid var(--main-color);
    padding: 0;
    margin: 0.5em 0;
    box-sizing: border-box;
    max-width: 160px;
    width: 70%;
    height: auto;
}

.edit-profile-info .btn{
    width: 10em;
    padding: 0.7em 1.2em;
    margin: auto;
    border: 0;
    border-radius: 2px;
    background-color: var(--background-strong);
    color: var(--foreground);
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
}

.edit-profile-info .btn:hover{
    color: var(--accent-color);
    text-decoration: none;
}

.edit-profile-info .btn:focus{
    outline: 0 none;
}

.edit-profile-info > form > textarea {
    background-color: var(--background-strong);
    color: var(--foreground);
    border-style: none;
    width: 80%;
    border: solid 1px transparent;

    padding: 0.5em 1em;
    margin-bottom: 0.4em;
    border-radius: 5px;

    font-size: 0.9em;
    font-weight: 300;
}

.edit-profile-info > form > textarea:focus {
    outline: 0 none;
    border: solid 1px var(--foreground);
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 6em;
}

.form-box .form-input{
    position: relative;
}

.form-box .form-input input{
    width: 100%; 
    height: 50px; 
    margin-bottom: 20px;
    border:none;
    border-radius: 5px;
    outline: none;
    color: var(--foreground);
    background: var(--background-strong);
    padding-left: 45px;
}

.form-box .form-input span{
    position:absolute;
    top:12px; 
    padding-left: 20px;
    color: var(--foreground);
}

.form-box .form-input input::placeholder{
    padding-left: 0px;
}

.form-box .form-input input:focus,
.form-box .form-input input:valid{
    color: var(--foreground);

    border-bottom: 2px solid var(--main-color);
}

.changes-buttons a,
.changes-buttons button[type="submit"]{
    padding: 0.7em 1.2em;
    margin: auto;
    border: none;
    border-radius: 2px;
    font-size: 0.9em;
    text-align: center;
    width: 10em;
}

.changes-buttons a {
    background-color: var(--background-strong);
    color: var(--main-color);
    font-weight: 500;
}

.changes-buttons a:hover {
    text-decoration: none;
}

.changes-buttons > button[type="submit"]{
    background-color: var(--main-color);
    color: var(--background-strong);
    margin-left: 0.5em;
    font-weight: 600;
}

.photo-input {
    width: 10em;
    padding: 0.7em 1.2em;
    margin: auto;
    border: 0;
    border-radius: 2px;
    
    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
    cursor: pointer;

    background-color: var(--background-strong);
    color: var(--foreground);
}

.photo-input:hover {
    color: var(--background-strong);
    background-color: var(--foreground);
}

input[type="file"] {
    display: none;
}

@media (max-width: 991px) {
    .edit-profile-info > textarea{
        width: 100%;
    }

    #content form {
        width: 100%;
    }
}