@import 'constants.css';

/* ----------========== FEED ==========---------- */
#feed {
    position: relative;
    margin-left: 17em;
    /* max-width: 70%; */
}

@media (max-width: 991px) {
    #feed {
        margin-left: 0;
    }
}

/* ----------========== Guest Buttons ==========---------- */
#log-buttons a {
    color: var(--main-color);
    font-size: 0.9em;
    font-weight: 500;
}

#log-buttons a:last-child {
    font-weight: 400;
}

#log-buttons a:hover {
    color: var(--accent-color);
}

@media (max-width: 768px) {
    #log-buttons :nth-child(2) {
        display: none;
    }
}