@import 'constants.css';

/* ----------========== FEED ==========---------- */
#feed {
    position: relative;
    margin-left: 17em;
    /* max-width: 70%; */
}

@media (max-width: 991px) {
    #feed {
        margin-left: 0;
    }
}
