@import 'constants.css';

.image-container{
    background: url('../images/register_llama.jpg') center no-repeat;
    background-size: cover;
    height: 100vh;
}

.form-container{
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.form-box .logo  {
    margin-top: 0 !important;
}

.form-box .heading {
    padding-top: 1em;
    margin: 0 auto;
    width: 80%;
    border-top: solid 2px var(--background-strong);
}

.form-box  h4{
    font-weight: 300;
    color: var(--foreground);
}

.form-box .form-input{
    position: relative;
}

.form-box .form-input input{
    width: 100%;
    height: 40px;
    margin-bottom: 1em;
    border:none;
    border-radius: 5px;
    outline: none;
    background: var(--foreground);
    padding-left: 45px;
}

.form-box .form-input span{
    position:absolute;
    top:8px;
    padding-left: 20px;
    color: #777;
}

.form-box .form-input input::placeholder{
    padding-left: 0px;
}

.form-box .form-input input:focus,
.form-box .form-input input:valid{
    border-bottom: 2px solid var(--main-color);
}

.form-box button[type="submit"]{
    width: 50%;
    padding: 0.7em 1.2em;
    margin: 0 auto 0.5em auto;
    border: 0;
    border-radius: 2px;
    background-color: var(--main-color);
    color: var(--background-strong);
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    transition: 0.5s;
}


.forget-link, .register-link{
    color: var(--foreground);
    font-weight: 300;
    font-size: 0.9em;
}

.forget-link:hover,.register-link:hover {
    color: var(--main-color);
    text-decoration: none;
}

.form-box .btn-google{
    width: 40%;
    padding: 0.7em 1.2em;
    margin: 0 auto 0.5em auto;
    border: 0;
    border-radius: 2px;
    background-color: #da3f34;
    color: var(--foreground);
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    transition: 0.5s;
}

  h6{
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid var(--background-strong); 
    line-height: 0.1em;
    margin: 10px 0 20px; 
 } 
 
 h6 span { 
    background-color: var(--background); 
    color: var(--foreground);
    font-size: 0.9em;
    font-weight: 400;
    padding: 0 10px; 
 }

 .register-account {
     color: var(--foreground);
 } 