@import 'constants.css';

/* ----------========== SIDEBAR ==========---------- */
#filters {
    margin: 1em 2.6em;
    font-size: 1.2em;
}

#filters label {
    margin-left: 0.3em;
}

.form-check input{
    vertical-align: middle;
    position: relative;
    bottom: 3px;
    margin-right: 0.3em;
    color: var(--main-color) !important;
}

.form-check label {
    font-size: 0.9em;
    font-weight: 400;
}

#sidebar-navigation {
    border-radius: 5px;
}

/* ----------========== FEED ==========---------- */
#mainpage {
    margin: auto;
    justify-content: center;
}

#search-results {
    position: relative;
    margin-left: 17em;
}

@media (max-width: 991px) {
    #search-results {
        margin-left: 0;
    }
}

.no-results {
    text-align: center;
    vertical-align: middle;
    padding-top: 2em;
    color: var(--foreground-color)
}