@import 'constants.css';

.container{
    height: 100%;
    width: 60%;
}

.logo {
    margin: 0px;
}

.container > .row {
    width: 100%;
}

.card-header{
    color: var(--main-color);
    font-weight: 600;
    font-size: 1.5em;
}

button[type="submit"] {
    padding: 0.7em 1.2em;
    border: 0;
    border-radius: 2px;
    background-color: var(--main-color);
    color: var(--background-strong);
    font-size: 1em;
    font-weight: 600;
    transition: 0.5s;
}

button[type="submit"]:hover{
    background-color: var(--background);
    color: var(--main-color);
}

.form-group{
    margin: 1.2em;
}

.form-group > div{
    padding: 0; 
}

.alert-success{  
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 99;
    text-align:center;
}​

.send_email{
    border-radius: 5px;
    background-color: var(--background-strong);
}

.email_field{
    color: var(--main-color);
    padding: 0;
    margin: auto 0;
}

#email {
    width: 100%;
}

@media (max-width: 1280px) {

    .container{
        width: 100%;
    }
    
    
}