@import 'constants.css';


#sidebar-navigation li {
    width: 10em;
}

#sidebar-navigation a {
    font-weight: 500;
    color: var(--foreground);
    border-right: solid var(--background);
    border-radius: 5px 0 0 5px;

    transition: color 200ms linear 0s;
    -webkit-transition: color 200ms linear 0s;
    -moz-transition: color 200ms linear 0s;
}

#sidebar-navigation a:hover {
    color: var(--main-color);
}

#sidebar-navigation a:focus {
    outline: none;
}

#sidebar-navigation a.active {
    color: var(--main-color);
    border-color: var(--main-color);
    background-color: var(--background-strong);
}

.category-card {
    color: var(--foreground);
    background-color: var(--background-strong);
    border: solid 2px transparent;
    transition: border-color 400ms ease-in-out 0s;
    -webkit-transition: border-color 400ms ease-in-out 0s;
    -moz-transition: border-color 400ms ease-in-out 0s;
}

.category-card:hover {
    border: solid 2px var(--main-color);
}

.category-card footer {
    border: none;
    background-color: inherit;
}

.highlight {
    color: var(--foreground);
    text-align: center;
}