#sidebar-navigation li {
    width: 10em;
}

#sidebar-navigation a {
    color: var(--foreground);
    border-color: var(--foreground);
}

#sidebar-navigation a:hover {
    color: var(--background-strong);
    background-color: var(--foreground);
}

#sidebar-navigation a.active {
    color: var(--background-strong);
    background-color: var(--foreground);
}

.category-card {
    color: var(--foreground);
    background-color: var(--background-strong);
    border: solid 2px transparent;
    transition: border-color 400ms ease-in-out 0s;
    -webkit-transition: border-color 400ms ease-in-out 0s;
    -moz-transition: border-color 400ms ease-in-out 0s;
}

.category-card:hover {
    border: solid 2px var(--main-color);
}

.category-card footer {
    border: none;
    background-color: inherit;
}

.highlight {
    color: var(--foreground);
    text-align: center;
}