@import 'constants.css';


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--background);
    color: var(--foreground);
}

#content {
    flex: 1 0 auto;
    padding: 2em 3em;
}

/* ----------========== NAVBAR ==========---------- */
body > header > nav {
    background-color: var(--background-strong);
}

body > header > div {
    background-color: var(--background-strong);

    border-radius: 0 0 60% 60%;
    height: 0.5em;
}

body > header > nav .search-bar {
    border-radius: 2em;
    height: 2.2em; 
    width: 15em !important;
}

body > header > nav > div > div > i {
    font-size: 1.6em;
}

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.1em var(--main-color);
    
} 

/* ----------========== NOTIFICATIONS ==========---------- */
.notification-menu {
    width: 25em;
    max-height: 15em;

    overflow-y: auto;
}

/* ----------========== FOOTER ==========---------- */

#footer {
    flex-shrink: 0;

    background-color: var(--background-strong);

    padding: 1.5em 3em;
}

#footer > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer > ul > li:first-child {
    font-weight: bolder;
    margin-bottom: 0.60em;
}

/* ----------========== BACK TO TOP BUTTON ==========---------- */
#to-top {
	position: fixed;
	bottom: .5em;
    right: 1em;
    
    display: none;
	cursor: pointer;
    font-size: 2em;
}

/* ----------========== MODALS ==========---------- */
.modal-content {
    background-color: var(--background);
}

.modal-footer {
    border: none;
}

.modal-header {
    border-bottom: 1px solid var(--background-strong);
}
