@import 'constants.css';
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    color: var(--foreground);
}

.container {
    margin-left: 3em;
}

#content {
    flex: 1 0 auto;
    padding: 2em 3em;
}


/* ----------========== NAVBAR ==========---------- */

body>header>nav {
    background-color: var(--background-strong);
}

body>header>div {
    background-color: var(--background-strong);
    border-radius: 0 0 60% 60%;
    height: 0.5em;
}

body>header>nav>div>div>i {
    font-size: 1.6em;
}

/* ----------========== NOTIFICATIONS ==========---------- */

.notification-menu {
    width: 25em;
    max-height: 15em;
    overflow-y: auto;
}


/* ----------========== SIDEBAR ==========---------- */

#sidebar {
    position: fixed;
    width: 16em;
}

#sidebar #pills-tab>a.active {
    background-color: var(--background-strong);
    border-bottom: solid var(--main-color);
    border-radius: 5px 5px 0 0;
    color: var(--main-color);
}

#sidebar #pills-tab>a {
    color: var(--foreground);
    border-bottom: solid var(--background);
    border-radius: 0;
    font-weight: 500;
}

.tab-categories {
    margin: 1.2em 0 1.6em 0;
}

#sidebar .tab-categories ul {
    list-style: none;
    padding-left: 0.7em;
}

#sidebar .tab-categories ul>li {
    margin: 0.3em 0;
}

#view-categories {
    color: var(--foreground);
    font-size: small;
    font-weight: 300;
}

#sidebar-navigation {
    width: 100%;
    padding: 1.5em 0;
    border-radius: 5px;
    background-color: var(--background-strong);
}

#sidebar>button {
    margin-top: 1em;
    background-color: var(--main-color);
    /* Green */
    color: var(--background-strong);
    border: none;
    border-radius: 5px;
    width: 80%;
    padding: 0.7em 2.4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
}

#sidebar>button:hover {
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.8);
}

/* ----------========== FEED ==========---------- */

#mainpage {
    margin: auto;
    justify-content: center;
}

#feed {
    position: relative;
    margin-left: 20em;
    max-width: 70%;
}


/* ----------========== FOOTER ==========---------- */

#footer {
    flex-shrink: 0;
    background-color: var(--background-strong);
    padding: 1.5em 3em;
}

#footer>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer>ul>li:first-child {
    font-weight: bolder;
    margin-bottom: 0.60em;
}


/* ----------========== BACK TO TOP BUTTON ==========---------- */

#toTop {
    position: fixed;
    bottom: 4em;
    right: 30px;
    display: none;
    cursor: pointer;
    font-size: 2em;
}


/* ----------========== MODALS ==========---------- */

.modal-content {
    background-color: var(--background);
}

.modal-footer {
    border: none;
}

.modal-header {
    border-bottom: 1px solid var(--background-strong);
}


/* ----------========== Search Bar ==========---------- */

input {
    outline: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

.expandable-search input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    background: var(--foreground) url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 10px center;
    border: solid 2px transparent;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    width: 1.8em;
    height: 2em;
    padding-left: 25%;
    color: transparent;
    cursor: pointer;
}

.expandable-search input[type=search]:hover:not(:focus) {
    -webkit-box-shadow: 0 0 8px var(--main-color);
	-moz-box-shadow: 0 0 8px var(--main-color);
	box-shadow: 0 0 8px var(--main-color);
}

.expandable-search input[type=search]:focus {
    width: 8em;
    padding-left: 2.5em;
    padding-right: 1em;
    color: var(--background-strong);
    background-color: var(--foreground);
    border-color: var(--main-color);
    cursor: auto;
}

.expandable-search input:-moz-placeholder {
    color: transparent;
}

.expandable-search input::-webkit-input-placeholder {
    color: transparent;
}


/* ----------========== MEDIA QUERIES ==========---------- */