@import 'constants.css';


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--background);
    color: var(--foreground);
}


#content {
    flex: 1 0 auto;
    padding: 2em;
}

/* ----------========== NAVBAR ==========---------- */
body > header > nav {
    background-color: var(--background-strong);
}

body > header > div {
    background-color: var(--background-strong);

    border-radius: 0 0 60% 60%;
    height: 0.5em;
}

body > header > nav .search-bar {
    border-radius: 2em;
    height: 2.2em; 
    width: 15em !important;
}

body > header > nav > div > div > i {
    font-size: 1.6em;
}

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.1em var(--main-color);
    
} 

/* ----------========== SIDEBAR ==========---------- */
#sidebar {
    position: fixed;
    width: 14em;
}

#sidebar #pills-tab > a.active {
    background-color: var(--background-strong);
    border-bottom: solid var(--main-color);
    border-radius: 5px 5px 0 0;
    color: var(--main-color);
}

#sidebar #pills-tab > a {
    color: var(--foreground);
    border-bottom: solid var(--background);
    border-radius: 0;
}

.tab-categories  {
    margin: 1em 0;
}

#sidebar .tab-categories  ul {
    list-style: none;
    padding-left: 0.7em;
}

#sidebar .tab-categories  ul > li {
    margin: 0.3em 0;    
}

#view-categories {
    color: var(--foreground);
    font-size: small;
}

#sidebar-navigation {
    width: 100%;
    padding: 1em 0;
    border-radius: 5px;
    background-color: var(--background-strong);
}

#sidebar > button {
    margin-top: 1em;
    background-color: var(--main-color); /* Green */
    color: var(--background-strong);
    border: none;
    border-radius: 5px;
    width: 80%;
    padding: 0.7em 2.4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

/* ----------========== FEED ==========---------- */
#feed {
    position: relative;
    margin-left: 16em;
}

/* ----------========== FOOTER ==========---------- */

#footer {
    flex-shrink: 0;

    background-color: var(--background-strong);

    padding: 1.5em 3em;
}

#footer > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer > ul > li:first-child {
    font-weight: bolder;
    margin-bottom: 0.60em;
}

/* ----------========== BACK TO TOP BUTTON ==========---------- */
#toTop {
	position: fixed;
	bottom: 4em;
    right: 30px;
    
    display: none;
	cursor: pointer;
    font-size: 2em;
}


/* ----------========== MEDIA QUERIES ==========---------- */