@import 'constants.css';


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;

    background-color: var(--background);
    color: var(--foreground);
}


#content {
    flex: 1 0 auto;
    padding: 2em;
}

/* ----------========== NAVBAR ==========---------- */
body > header > nav {
    background-color: var(--background-strong);
}

body > header > div {
    background-color: var(--background-strong);

    border-radius: 0 0 60% 60%;
    height: 0.5em;
}

body > header > nav .search-bar {
    border-radius: 2em;
    height: 2.2em; 
    width: 15em !important;
}

body > header > nav > div > div > i {
    font-size: 1.6em;
}

.form-control:focus {
    border-color: var(--main-color);
    box-shadow: 0 0 0 0.1em var(--main-color);
    
} 

/* ----------========== SIDEBAR ==========---------- */
#sidebar {
    position: fixed;
    width: 14em;
}

#sidebar-navigation {
    width: 100%;
    padding: 1em 0;
    border-radius: 5px;
    background-color: var(--background-strong);
}

#sidebar > button {
    margin-top: 1em;
    background-color: var(--main-color); /* Green */
    color: var(--background-strong);
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 0.7em 2.4em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
}

/* ----------========== FEED ==========---------- */
#feed {
    position: relative;
    margin-left: 16em;
}

/* ----------========== CARD ==========---------- */
.post-preview {
    background-color: var(--background-strong);

    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 5px;
}

.post-preview > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0.5em;
}

.post-preview > header .title {
    color: var(--foreground);
    
    font-weight: bolder;
    font-size: 1.5em;
}

.post-preview > header .by {
    margin: 0 0.05em 0 0.5em;

    color: var(--foreground-fade);
}

.post-preview > header .author {
    color: var(--foreground);

    font-size: 1.1em;
}

.post-preview > footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.post-preview > footer > .votes {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.post-preview > footer > .votes > .upvotes {
    margin-right: 1.5em;
}

.post-preview > footer > .votes > div *:first-child, .post-preview > footer > .comments *:first-child {
    margin-right: 0.5em;
} 


/* ----------========== FOOTER ==========---------- */

#footer {
    flex-shrink: 0;

    background-color: var(--background-strong);

    padding: 1.5em 3em;
}

#footer > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer > ul > li:first-child {
    font-weight: bolder;
    margin-bottom: 0.60em;
}

/* ----------========== BACK TO TOP BUTTON ==========---------- */
#toTop {
	position: fixed;
	bottom: 30px;
    right: 30px;
    
    display: none;
	cursor: pointer;
    font-size: 2em;
}


/* ----------========== MEDIA QUERIES ==========---------- */