body{
    background-color: #555555;
}

button[type="submit"]{
    border:none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    color:#000;
    font-weight: bold;
    transition: 0.5s;
}

.img{
    border: 5px solid #03BB85;
    padding: 0;

    box-sizing: border-box;

    max-width: 400px;
    width: 100%;
    height: auto;
    margin: 0.5em;
}

h1{
    font-weight: bold;
    color: #03BB85;
}


/*from previous style sheet*/

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 70vh;
}

.form-box  h4{
    font-weight: bold;
    color: #fff;
}

.form-box .form-input{
    position: relative;
}

.form-box .form-input input{
    width: 100%; /*estava a 100 */
    height: 50px; /*estava a 40 */
    margin-bottom: 20px;
    border:none;
    border-radius: 5px;
    outline: none;
    background: white;
    padding-left: 45px;
}

.form-box .form-input span{
    position:absolute;
    top:12px; /* estava a 8*/
    padding-left: 20px;
    color: #777;
}

.form-box .form-input input::placeholder{
    padding-left: 0px;
}

.form-box .form-input input:focus,
.form-box .form-input input:valid{
    border-bottom: 2px solid #03BB85;
}

.form-box button[type="submit"]{
    border:none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #03BB85;
    color:#000;
    font-weight: bold;
    transition: 0.5s;
}

button[type="submit"]{
    border:none;
    cursor: pointer;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: #03BB85;
    color:#000;
    font-weight: bold;
    transition: 0.5s;
}

.photo-btn{
    margin:0.5em;
}