@import 'constants.css';

#content > form {
    height: 100%;
}

/* ----------========== Categories Tab ==========---------- */

#categories-tab {
    border-radius: 5px;
    background-color: var(--background-strong);
    padding: 1.4em 2.2em;
    height: max-content;
}

#categories-tab>header {
    text-align: center;
    font-size: 1.1em;
    font-weight: 400;
    color: var(--main-color);
    padding-bottom: 0.2em;
    margin-bottom: 1em;
    border-bottom: 2px solid var(--background);
}

#selected-categories {
    text-align: left;
    margin-left: 0;
}


#selected-categories .category-move-badge {
    background-color: var(--background);
    font-size: 0.9em;
    padding: 0.5em 1em;
    margin: .75em 0.5em 0 0;
}

#categories-tab .input-group {
    margin: 0.5em 0 .5em 0;
}

#categories-tab .input-group>select {
    background-color: var(--foreground);
    color: var(--background);
    font-weight: 400;
}

#categories-tab .input-group-append .btn {
    background-color: var(--background);
    color: var(--foreground);
    font-weight: 500;
    border: solid 1px var(--foreground);
}

#categories-tab .input-group-append .btn:hover {
    background-color: var(--background);
    color: var(--accent-color);
}

/* ----------========== Text Tab ==========---------- */
#text-tab {
    background-color: var(--background-strong);

    border-radius: 5px;
    width: 100%;
    padding: 1em 2em;
}

#text-tab > div {
    height: 100%;
}

#post-title {
    background-color: var(--background-strong);
    color: var(--foreground);

    padding-left: 0.5em;
    margin-bottom: 1em;
    font-size: 1.2em;
    font-weight: 500;

    border: none;
    border-bottom: 1px solid var(--background);
}

#post-title:focus {
    border-bottom: 1px solid var(--main-color);
    outline: 0 none;
}

#post-body {
    background-color: var(--background-strong);
    color: var(--foreground);
    font-weight: 300;

    border: none;
    border: 1px solid transparent;
    border-radius: 10px;
    min-height: 10em;
    height: 100%;
    overflow-y: scroll;
    padding: 0.5em;
    margin-bottom: 1em;
    resize: none;

    /* Hide scrollbar for IE and Edge */
    -ms-overflow-style: none;
    /* Hide scrollbar for Mozila */
    scrollbar-width: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#post-body::-webkit-scrollbar {
    display: none;
}

#post-body:focus {
    border: 1px solid var(--main-color);
    outline: 0 none;
}

#post-buttons {
    margin-top: auto;
}

#post-buttons button {
    width: 8em;
    padding: 0.5em 1.5em;
    margin-left: 0.5em;
    border: 0;
    border-radius: 2px;
    background-color: var(--main-color);
    color: var(--background-strong);
    font-weight: 600;
}

#post-buttons button:first-child {
    background-color: var(--background);
    color: var(--main-color);
    font-weight: 400;
}

#post-buttons button:focus {
    outline: 0 none;
}

/* ----------========== Media Queries ==========---------- */

@media (max-width: 1200px) {
    #categories-tab {
        height: auto;
    }    
}