#content{
    width:50%;
    margin:auto;
}

button[type="submit"]{
    width: 30%;
    padding: 0.7em 1.2em;
    margin: auto;
    border: 0;
    border-radius: 2px;
    color: var(--background-strong);
    background-color: var(--main-color);
    font-size: 1em;
    font-weight: 600;
    text-align: center;
    transition: 0.5s;
}

button[type="submit"]:hover{
    background-color: var(--background-strong);
    color: var(--main-color);
}

.error{
    margin-top:2em;
}

.error img {
    margin-bottom: 1em;
}

.error h3{
    color:var(--main-color);
    font-weight: 300;
}

.error > p {
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 2em;
}


@media (max-width: 52em) {
   
    #content{
        width: 75%;
    }
 
}

@media (max-width: 35em) {
   
    #content{
        width: 100%;
        margin:0;
    }
 
}