
#sidebar-navigation {
    border-radius: 5px;
}

#sidebar-navigation > div:first-child > p{
    font-size: 1.1em;
    font-weight: 400;
    margin-bottom: 0.5em;
    color: var(--main-color);
}

#sidebar > div {
    background-color: var(--background-strong);
    padding: 1.4em 2.2em;
}

.opt{
    border-top: 2px solid var(--background);
    justify-content: start;
    text-align: left;
    margin-left: 0;
}

.opt .d-flex {
    margin-left: 0.5em !important;
}

.opt .form-check input{
    vertical-align: middle;
    position: relative;
    bottom: 3px;
    margin-right: 0.3em;
    color: var(--main-color) !important;
}

.form-check label {
    font-size: 0.9em;
    font-weight: 400;
}