@import 'constants.css';

#content {
    width: 75%;
    margin: 0 auto;
}

/* ----------========== POST ==========---------- */
.post {
    background-color: var(--background-strong);

    padding: 2em 3em;
    border-radius: 5px;
}

.post > header > div:first-child {
    margin-bottom: 1.5em;
}

.post >header > div .post-user > a:first-child {
    margin-right: 1em;
}

.post >header > div .post-user > a:nth-child(2) {
    color: var(--accent-color);
}

.post >header > div .post-user > span {
    font-size: small;
    font-weight: 300;
    margin-left: 0.2em;
}

.post i {
    font-size: 1em;
}

.post > header .dropdown-menu {
    color: var(--background-strong);
    background-color: var(--foreground);
}

.post > header > h4 {
    font-weight: 500;
}

.post .post-body > p {
    font-size: 0.9em;
    font-weight: 400;
}

.post > footer {
    margin-top: 1.5em;
}

.post > footer > div {
    margin-right: 1.5em;
    font-size: 0.9em;
}

.post > footer > div > img {
    margin-right: 0.15em
}

.post > footer > div:nth-child(2) > img {
    transform: rotate(180deg);
}

/* ----------========== COMMENT SECTION ==========---------- */
#comment-section {
    background-color: var(--background-strong);

    margin-top: 1em;
    padding: 1.5em 3em;
    border-radius: 5px;
}

#comment-section > header { 
    margin-bottom: 1em;
}

/* ----------========== MEDIA QUERIES ==========---------- */
@media (max-width: 82em) {
    #content {
        width: 70em;
    }
}
@media (max-width: 72em) {
    #content {
        width: 60em;
    }
}
@media (max-width: 62em) {
    #content {
        width: 100%;
    }
}
@media (max-width: 32em) {
    #content {
        padding: 1em 0.5em;
    }
    .post, #comment-section {
        padding: 1em;
    }
}