.img{
    border: 5px solid #03BB85;
    padding: 0;

    box-sizing: border-box;

    max-width: 250px;
    width: 100%;
    height: auto;
    margin: 0.5em;
}

body  .name  h2{
    font-weight: bold;
}

body h1{
    color:#03BB85;
    font-weight: bold;
}

.personal-info-left{
    padding-left: 1.3em;
}

.team{
    padding:1.4em;
}

.personal-info-right{
    padding-right: 1.3em;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .reverse{
        flex-direction: column-reverse;
    }

    .team{
        text-align: center;
    }

    .img{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

   .line{
    width: 112px;
    height: 47px;
    border-bottom: 1px solid black;
    position: absolute;
    }

    .spacing{
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

}