h1 {
    color: #03BB85;
    font-weight: 400;
    font-size: 2rem;
}

.img {
    border: 2px solid var(--main-color);
    padding: 0;

    max-width: 150px;
    margin: 0.5em;
}

.team-page h2 {
    font-weight: bold;
    font-weight: 400;
    font-size: 1.5rem;
}

.team-page p {
    margin: 0.2em 0;
    font-size: 0.9em;
    font-weight: 300;
}

.description i:nth-of-type(1) {
    margin-top: 0.2em;
    margin-right: 0.2em;
}

.description p {
    margin-left: 0.2em;
    margin-right: 0.2em;
}

.description i:nth-of-type(2) {
    margin-top: 0.2em;
    margin-left: 0.2em;
}

.team-page p>i {
    margin: 0 0.2em;
}