:root {
    --background-strong: #171d22;
    --background: #222930;
    --main-color: #3BFF9E;
    --accent-color: #9756e3;
    --foreground: #edf5e1;
    --foreground-fade: #edf5e1b0;
    --error-color: #C60000;
}

body {
    font-family: 'Heebo', sans-serif;
}


