.row {
    margin: auto 0;
}

.user-info,
.points-info {
    background-color: var(--background-strong);
    border-radius: 5px;
    padding: 2em;
}

/* ----------------- User Info -------------- */
.img{
    border: 2px solid var(--main-color);
    padding: 0;

    box-sizing: border-box;
    max-width: 200px;
    height: auto;
}

.username > p {
    margin: auto;
    margin-right: 0.5em;
    font-size: 1.3em;
    font-weight: 500;
}

/* ----------------- Dropdown -------------- */
.username .dropdown{
    cursor: pointer;
}

.username .dropdown-menu {
    background-color: var(--foreground);
    color: var(--background-strong);
}

.username .dropdown-menu > a:hover {
    color: var(--foreground);
    background-color: var(--background-strong);
}

.username .dropdown-menu > div {
    width: 80%;
    margin: auto;
    border-top: solid 1px var(--background-strong);
}

/* ----------------- Bio & Button -------------- */
.bio{
    padding: 0.5em;  
    font-weight: 300;
}

.edit-button {
    width: 10em;
    padding: 0.7em 1.2em;
    margin: 0 auto;
    border: none;
    border-radius: 2px;

    background-color: var(--background);
    color: var(--main-color);

    font-size: 0.9em;
    font-weight: 500;
    text-align: center;
}

.edit-button:hover {
    outline: 0 none;
    color: var(--accent-color);
    text-decoration: none;
}

/* ----------------- Contest -------------- */

#blocked{
    padding: 1em 3em;
    display: flex;
    align-items: center;
    flex-direction: column;

    border: solid 2px var(--foreground);
    background-color: var(--background-strong);
    border-radius: 5px;

}

.blocked-text{
    font-weight: 300;
    color: var(--foreground);
}

.remaining-time {
    font-weight: 500;
    font-size: 1.6em;
    color: var(--foreground);
}

.contest-button{
    width: 100%;
    padding: 0.7em 1.2em;
    margin: auto;
    border: 0;
    border-radius: 2px;
    
    color: var(--error-color);
    background-color: var(--foreground);
    font-size: 1em;
    font-weight: 400;
    text-align: center;
}

.contest-button:hover{
    background-color: var(--error-color);
    color: var(--foreground);
}

.contest-button:focus{
    outline: 0 none;
}

/* ----------------- Glory Points -------------- */
.glory-points {
    width: 200px;
    height: 200px;
    padding: 0.8em;
    border-radius: 50%;
    background-color: var(--background);
}

.glory-points img {
    width: 120px;
    height: 120px;
}

.glory-points > p{
    font-weight: 500;
    font-size: 1.2em;
    color: var(--foreground);
}

.points-info hr {
    width: 100%;
    border: 1px solid var(--background);
}

/* ----------------- Top Categories -------------- */
.top-categories {
    padding: 0.8em;
    text-align: center;
    font-size: 0.8em;
}

.top-categories h3{
    color: var(--main-color);
    font-weight: 500;
}

.top-category{
    margin-top:1.2em;
    font-size: 1.4em;
}

/* ----------------- Posts -------------- */
.post-section {
    margin: 1.5em auto 0 auto;
    width: 70%;
}

.number-posts {
    color:var(--foreground);
    font-weight: 300;
    font-size: 1.0em;
}

.number-posts > strong{
    font-weight: 500;
    font-size: 1.3em;
}

@media (max-width: 991px) {
    .post-section {
        width: 100%;
    }
}

@media (max-width: 575px) {
    .remaining-time {
        font-weight: 500;
        font-size: 1.2em;
        color: var(--foreground);
    }
}